.timeline .vis-item {
    z-index: 2;
}

.timeline .vis-item.vis-selected {
    z-index: 3;
}

.timeline .vis-timeline {
    overflow-y: visible;
    overflow-x: clip;
}

.timeline .vis-center {
    overflow-y: visible;
    overflow-x: clip;
}

.timeline .vis-item .vis-onUpdateTime-tooltip {
    width: auto;
}
.timeline .vis-item.bg-error {
    background: red;
}
.timeline .vis-item.bg-success {
    background: blue;
}
.timeline .vis-item.bg-warning {
    background: yellow;
}
.vis-nested-group.vis-group-selected {
    background-color: darkgrey !important;
    border: 2px solid red !important;
}

.vis-grid-highlighted {
    /*background-color: rgba(255, 0, 0, 0.2) !important;*/
    border-left: 2px solid red !important;
    border-right: 2px solid red !important;
    z-index: 1000;
}
#selection {
    position: absolute;
    border: 2px dashed #000;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    display: none;
    z-index: 1000;
}
